.card{
    height: 200px;
    width: 150px;
    background-color: aqua;
    display: inline-block;
    margin-right: 400px;
    border: solid;
    box-shadow: 2px 2px 10px black;
    
}
.card:hover{
    box-shadow: 2px 2px 16px yellow;

}

#men
{
    padding: 0 0 0 8px;
}

#women
{
    padding: 0 0 0 8px;
}
img{
    height: 100px;
    width: 150px;
    border-radius: 5px 5px 0 0 ;
}