h1

{
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 500;
    text-decoration: wavy underline;
    line-height:normal ;
    font-size: 50px;



}

h2
{ 
    color: blue;
    letter-spacing: normal;
    font-family: 'Courier New', Courier, monospace;

}

p

{
text-transform: uppercase;
text-decoration : double underline;
}

a
{
    text-decoration: none;
}